@using Microsoft.AspNetCore.Identity
@using Entities.Models 
@model IEnumerable<IdentityUser>



<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Username</th>
           
            <th>Email</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityUser user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            &#x22EE;
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item text-warning" asp-action="Edit" asp-route-id="@user.Id">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@user.Id">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-info" asp-action="Details" asp-route-id="@user.Id" target="_blank">
                                    <i class="fa fa-eye"></i> View
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
